header {
    display: flex;
    justify-content: center;
}

#img_banner {
    height: 200px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 450px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 0 10px;
    height: 500px;
}

#botao_jogar {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: greenyellow;
    margin: auto;
    font-size: larger;
}

#div1, #div2 {
    background-color: white;
    display: flex;
    justify-content: center;
}